body{
    margin: 20px;
    width: 90%;
    height: 50%;
    padding: 10px;
    background-color: aqua;
    border: 20px solid palegreen;
}
#card{
    border-radius: 8px;
    position: relative;
    left:78px;
    margin: 5px;
    margin-left: 0px;
    width: 80%;
    padding: 20px;
    text-align: center;
    background-color: rgb(120, 191, 253);
}
ul li{
    list-style-type: none;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.icon{
    width: 80%;
    height: 300px;
    border-radius: 100px;
}
#icon{
    position:absolute;
    left: 1%;
    bottom: 60px;
}

.icon2{
    width: 80%;
    height: 300px;
    border-radius: 100px;
}
#icon2{
    position:absolute;
    right: 1%;
    bottom: 60px;
}
.gif{
    border-radius: 5px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-transform:capitalize;
}
h1{
    background-color: lawngreen;
    border: 2px solid black;
    padding: 10px;
    padding-left: 0px;
    width: 50%;
    position: relative;
    right: -185px;
    text-align: center;
}
h1:hover{
    color: aqua;
    background-color: purple;
    border-radius: 10px;
}
b{
    text-transform: uppercase;
}