#card{
    width: 97%;
    height: 450px;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    position: relative;
}
img{
    width: 50%;
    height: 400px;
    position: relative;
    left:230px;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
}